<section>
    <div ngClass="container">
        <div ngClass="d-flex flex-column cont-info">
            <div ngClass="d-flex flex-column gap-2">
                <h1>Hi, I'm Andrey 👋🏽</h1>
                <p>
                    I'm a Junior Software Developer with 2 years of experience, bringing a creative and dedicated
                    approach
                    to both frontend and backend development.
                    Specialized in Java, Angular, and Next.js, and looking forward to continue growing.
                </p>

            </div>
            <div ngClass="d-flex flex-column gap-2">
                <div ngClass="d-flex flex-row align-items-center gap-2">
                    <img ngClass="iconBox" src="assets/locationIcon.svg" alt="">
                    <p>San José, Costa Rica</p>
                </div>

                <div ngClass="d-flex align-items-center gap-2">

                    <span ngClass="iconBox d-flex flex-row align-items-center justify-content-center">
                        <span ngClass="avilable-dot"></span>
                    </span>
                    <p>Available for new projects</p>
                </div>
            </div>
            <div ngClass="socials d-flex gap-1">
                <button>
                    <img ngClass="iconBox" src="assets/linkedinIcon.svg" alt="">
                </button>

                <button>
                    <img ngClass="iconBox gh" src="assets/github.svg" alt="">
                </button>
                <button>
                    <img ngClass="iconBox" src="assets/instagramIcon.svg" alt="">
                </button>

            </div>
        </div>


    </div>

</section>