<header>
    <div ngClass="d-flex justify-content-between align-items-center">

        <div>
            <a href="/">
                <h3>
                    < AMS />
                </h3>
            </a>
        </div>
        <div ngClass="">
            <ul ngClass="d-flex flex-row gap-24 nav">
                <li>About</li>
                <li>Work</li>
                <li>Testimonials</li>
                <li>Contact</li>
                <li>Download CV</li>
            </ul>

        </div>

    </div>
</header>