<header>
    <div>
        <a href="/">
            <h1>< Andrey Meléndez /></h1>
        </a>

        <a href="/">
            <h2>
                < Andrey Meléndez />
            </h2>
        </a>

                <a href="/">
                    <h3>
                        < Andrey Meléndez />
                    </h3>
                </a>
    </div>
    <div>
        <ul>
            <li>About</li>
            <li>Work</li>
            <li>Testimonials</li>
            <li>Contact</li>
            <li>Download CV</li>
        </ul>

    </div>
</header>
