<header>
    <div ngClass="container nav-cont d-flex justify-content-between align-items-center">

        <div>
            <a href="/">
                <h3 ngClass="text-black" [innerText]="initials"></h3>
            </a>
        </div>
        <div ngClass="d-flex align-items-center">
            <ul ngClass="d-flex flex-row gap-24 nav text-main align-items-center">
                <li>
                    <a href="#">About</a>
                </li>
                <li>
                    <a href="#">Work</a>
                </li>
                <li>
                    <a href="#">Testimonials</a>
                </li>
                <li>
                    <a href="#">Contact</a>
                </li>
            </ul>
            <span ngClass="nav-split"></span>
            <div>
                <button ngClass="btn-light"> Download CV</button>
            </div>

        </div>

    </div>
</header>